<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoreanSportic</title>

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet">

</head>
<body class="bg-base-100 text-base-content min-h-screen flex flex-col">
    <header>
        <!--Cargar de forma asíncrona el partial view (Menú = navbar)-->
        @await Html.PartialAsync("_Menu")
    </header>

    <!--Cargar el body-->
    <main role="main" class="flex-grow mx-auto py-6">
        @RenderBody()
    </main>

    <footer class="footer footer-center p-4 bg-[#004AAD] text-white">
        <div>
            <p>&copy; 2025 - DoreanSportic - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="underline">Privacidad</a></p>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@if (ViewBag.NotificationMessage != null)
{
    <script>
        @Html.Raw(@ViewBag.NotificationMessage);
    </script>
}

