<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dorean Sportic</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<!-- Body con imagen de fondo que cubre todo -->
<body class="bg-base-100 min-h-screen flex items-center justify-center pt-3"
      style="background: url('@Url.Content("~/Assets/imagenLogin.jpg")') no-repeat center center;
             background-size: cover;">
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Scripts de jQuery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Importar archivo js que contiene el side client validation de para los formularios de login y de registrar -->
    <script src="~/js/ScriptsLogin.js"></script>
</body>


</html>