
<div class="navbar bg-[#004AAD] text-white w-screen">

    <!--Navbar responsivo-->
    <div class="navbar-start">
        <div class="dropdown bg-[#004AAD]">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
            </div>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content bg-[#004AAD] rounded-box z-1 mt-3 w-52 p-2 shadow ">

                <li class="bg-[#004AAD]"><a class="btn btn-ghost" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <!--Administrador-->
                <li>
                    <a class="btn btn-ghost" asp-area="" asp-controller="Dashboard" asp-action="Index">Administrador</a>
                </li>

                <!--Productos-->
                <li>
                    <a class="btn btn-ghost" asp-area="" asp-controller="Producto" asp-action="Index">Nuestros productos</a>
                </li>

                <!--Pedidos-->
                <li>
                    <a class="btn btn-ghost" asp-area="" asp-controller="Pedido" asp-action="Index">Pedidos</a>
                </li>

            </ul>
        </div>
        <!--Logo de la aplicación-->
        <a class="btn btn-ghost text-xl" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="@Url.Content("~/Assets/DoreanSporticLogo.png")" asp-append-version="true"
                 style="height: 100%; width: auto; border-radius: 100%" />
            <span>Dorean Sportic</span>
        </a>
    </div>

    <!--Navbar en pantalla extendida-->
    <div class="navbar-center hidden lg:flex z-50 relative">
        <ul class="menu menu-horizontal px-1">
            <li><a class="btn btn-ghost" asp-area="" asp-controller="Home" asp-action="Index">Inicio </a></li>
            <!--Administrador-->
            <li>
                <a class="btn btn-ghost" asp-area="" asp-controller="Dashboard" asp-action="Index">Administrador</a>
            </li>

            <!--Productos-->
            <li><a class="btn btn-ghost" asp-area="" asp-controller="Producto" asp-action="Index">Nuestros productos </a></li>

            <!--Pedidos-->
            <li><a class="btn btn-ghost" asp-area="" asp-controller="Pedido" asp-action="Index">Pedidos </a></li>

        </ul>
    </div>

    <div class="navbar-end" style="margin-right: 2%">

        <!-- Código para insertar un toggle del tema claro/oscuro -->
@*          <label class="swap swap-rotate btn btn-ghost" style="margin-right: 10px">
            <!-- Este input es el que activa el swap -->
            <input type="checkbox" data-toggle-theme="light,dark" data-act-class="swap-active" />

            <!-- Sol -->
            <svg class="swap-off fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M5.64 17.66A9 9 0 1 1 18.36 6.34 9 9 0 0 1 5.64 17.66zM12 4a8 8 0 0 0 0 16 8 8 0 0 0 0-16zm0 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8z" />
            </svg>

            <!-- Luna -->
            <svg class="swap-on fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
            </svg>
        </label> *@

        <!-- Input del buscador del sitio-->
        <input type="text" placeholder="Buscar" class="input input-bordered w-24 md:w-auto" style="margin-right: 10px" />

        <!-- Contenedor del carrito de compras -->
        <div class="dropdown dropdown-end" style="padding-right: 10px">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /> </svg>
                    <span class="badge badge-sm indicator-item">0</span>
                </div>
            </div>

            <div tabindex="0"
                 class="card card-compact dropdown-content bg-base-100 z-1 mt-3 w-52 shadow">
                <div class="card-body">
                    <span class="text-lg font-bold">8 Items</span>
                    <span class="text-info">Subtotal: $999</span>
                    <div class="card-actions">
                        <button class="btn btn-primary btn-block">View cart</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contenedor del perfil de usuario-->
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component"
                         src="" />
                </div>
            </div>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li><a>Logout</a></li>
            </ul>
        </div>
    </div>



</div>

