@model IEnumerable<DoreanSportic.Application.DTOs.ResennaValoracionDTO>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var promedio = Model.Any() ? Model.Average(r => r.Calificacion) : 0;
    var promedioEntero = (int)Math.Floor(promedio); // para estrellas completas
}
<div class="flex w-full items-center gap-2 mb-1">
    <span class="font-bold">
        @(Localizer["Promedio de valoraciones"]): @promedio.ToString("0.0")
    </span>
    <div class="flex gap-1">
        @for (int i = 1; i <= 5; i++)
        {
            var fillColor = i <= promedioEntero ? "text-warning" : "text-gray-300";

            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 stroke="none"
                 class="w-5 h-5 @fillColor">
                <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782
                             1.402 8.175L12 18.896l-7.336 3.861
                             1.402-8.175-5.934-5.782 8.2-1.192z" />
            </svg>
        }
    </div>
</div>







