@model DoreanSportic.Web.ViewModels.CambiarContrasennaViewModel
@{
    ViewData["Title"] = "Cambiar contraseña";
    Layout = "_LayoutLogin"; 
}

<div class="hero bg-transparent min-h-screen w-75">
    <div class="hero-content flex-col w-full max-w-md shadow-lg p-3">
        <div class="text-center text-black">
            <h1 class="text-3xl font-bold" style="font-size: 25px">Cambiar contraseña</h1>
            <p class="py-4 font-bold">Abajo encontrarás el formulario para actualizar la contraseña</p>
        </div>

        <div class="card bg-base-100 w-full shadow-2xl">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-sm italic" style="color:red; font-size: small"></div>

                <form id="formRecuperarContrasenna" asp-action=" RecuperarContrasenna" method="post">
                    @Html.AntiForgeryToken()

                    @* Errores del modelo *@
                    <div asp-validation-summary="ModelOnly" class="text-error mb-2"></div>

                    @* Fomrulario para cambiar contraseña *@
                    <fieldset class="fieldset">

                        @* Campo de contraseña actual*@
                        <label class="label" asp-for="Usuario"></label>
                        <input class="input input-bordered" asp-for="Usuario" placeholder="Usuario" style="border-color:black;" />
                        <span class="text-error text-sm italic" asp-validation-for="Usuario" style="color:red; font-size: small"></span>

                        @* Campor de contrasenna nueva *@
                        <label class="label mt-3" asp-for="ContrasennaNueva"></label>
                        <input class="input input-bordered" asp-for="ContrasennaNueva" type="password" placeholder="Contraseña" style="border-color:black;" />
                        <span class="text-error text-sm italic" asp-validation-for="ContrasennaNueva" style="color:red; font-size: small"></span>

                        @* Campo de confirmar contrasenna *@
                        <label class="label mt-3" asp-for="ConfirmarContrasenna"></label>
                        <input class="input input-bordered" asp-for="ConfirmarContrasenna" type="password" placeholder="Contraseña" style="border-color:black;" />
                        <span class="text-error text-sm italic" asp-validation-for="ConfirmarContrasenna" style="color:red; font-size: small"></span>

                        @* Botón para enviar solicitud *@
                        <button class="btn bg-[#004AAD] text-white mt-4" type="submit">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Localizers necesarios para manejar por medio de JavaScript (validación cliente) -->
<div id="mensajes-internacionalizados" class="hidden"
     data-CambioOk="Contraseña actualizada"
     data-CambioError="No se pudo cambiar la contraseña"
     data-ModeloInvalido="Formulario inválido o incompleto"
     data-msjErrorInesperado="Error inesperado"
     data-passLen="La contraseña debe tener entre {0} y {1} caracteres"
     data-passReq="Debe tener al menos una mayúscula, una minúscula, un número y un carácter especial"
     data-confirmar="Las contraseñas no coinciden"
     data-usuarioLong="El usuario debe tener entre {0} y {1} caracteres"
     data-usuarioForm="Solo letras, números, punto, guion y guion bajo">
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
