@model DoreanSportic.Web.ViewModels.RegistroViewModel
@{
    ViewData["Title"] = "Registrarse";
    Layout = "_LayoutLogin";
}

<div class="hero bg-base-200 min-h-screen w-100">
    <div class="hero-content flex-col lg:flex-row w-full shadow-lg p-3">
        <div class="text-center lg:text-left max-w-xl">
            <h1 class="text-5xl font-bold" style="font-size: 25px">Crea tu cuenta</h1>
            <p class="py-6 font-bold">
                Regístrate para comprar más rápido, ver tus pedidos y guardar tus datos de envío.
            </p>
        </div>

        <div class="card bg-base-100 w-full max-w-md shrink-0 shadow-2xl">
            <div class="card-body">
                @* Errores del modelo *@
                <div asp-validation-summary="ModelOnly" class="text-sm italic" style="color:red; font-size: small"></div>

                @* Formulario de registro *@
                <form asp-action="Registrar" asp-controller="Login" method="post">
                    @Html.AntiForgeryToken()

                    @* Campos para registrar el usuario *@
                    <fieldset class="fieldset">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">

                            @* Campo nombre*@
                            <div>
                                <label class="label mb-1" asp-for="Nombre"></label>
                                <input class="input input-bordered" asp-for="Nombre" placeholder="Nombre" style="border-color:black" />
                                <span class="text-error text-sm italic" asp-validation-for="Nombre" style="color:red; font-size: small"></span>
                            </div>

                            @* Campo apellido*@
                            <div>
                                <label class="label mb-1" asp-for="Apellido"></label>
                                <input class="input input-bordered" asp-for="Apellido" placeholder="Apellido" style="border-color:black" />
                                <span class="text-error text-sm italic" asp-validation-for="Apellido" style="color:red; font-size: small"></span>
                            </div>
                        </div>

                        @* Campo correo electrónico*@
                        <label class="label" asp-for="Email">Correo electrónico</label>
                        <input class="input input-bordered" asp-for="Email" type="email" placeholder="correo@ejemplo.com" style="border-color:black" />
                        <span class="text-error text-sm italic" asp-validation-for="Email" style="color:red; font-size: small"></span>

                        @* Campo teléfono *@
                        <label class="label" asp-for="Telefono">Teléfono (opcional)</label>
                        <input class="input input-bordered" asp-for="Telefono" placeholder="Teléfono" style="border-color:black" />
                        <span class="text-error text-sm italic" asp-validation-for="Telefono" style="color:red; font-size: small"></span>

                        @* Campo Sexo *@
                        <label class="label mb-1" asp-for="IdSexo">Sexo (opcional) </label>
                        <select class="select select-bordered" asp-for="IdSexo" asp-items="Model.Sexos" style="border-color:black">
                            @* Si el usuario no selecciona ningún sexo, por defecto se seleccion 3 = Otro *@
                            <option value="3">-- Seleccione --</option>
                        </select>


                        @* Para crear el usuario y la contraseña *@
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                            <div>
                                <label class="label mb-1" asp-for="UserName">Nombre de usuario</label>
                                <input class="input input-bordered" asp-for="UserName" placeholder="Nombre de usuario" style="border-color:black" />
                                <span class="text-error text-sm italic" asp-validation-for="UserName" style="color:red; font-size: small"></span>
                            </div>
                            <div>
                                <label class="label mb-1" asp-for="Password">Contraseña</label>
                                <input class="input input-bordered" asp-for="Password" type="password" placeholder="Contraseña" style="border-color:black" />
                                <span class="text-error text-sm italic" asp-validation-for="Password" style="color:red; font-size: small"></span>
                            </div>
                        </div>

                        @* Confirmación de contraseña*@
                        <label class="label" asp-for="ConfirmPassword">Confirmar Contraseña</label>
                        <input class="input input-bordered" asp-for="ConfirmPassword" type="password" placeholder="Confirmar contraseña" style="border-color:black" />
                        <span class="text-error text-sm italic" asp-validation-for="ConfirmPassword" style="color:red; font-size: small"></span>

                        @* Botón para crear cuenta*@
                        <button class="btn bg-[#004AAD] text-white mt-4" type="submit">Crear cuenta</button>
                    </fieldset>
                </form>

                <hr />

                <p class="text-sm">
                    ¿Ya tienes cuenta?
                    <a class="link link-hover font-semibold" asp-controller="Login" asp-action="Login">Inicia sesión</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}