@model IEnumerable<DoreanSportic.Application.DTOs.ProductoDTO>

<!-- Contenedor padre centrado -->
<div class="w-full min-h-full flex flex-col items-center justify-center gap-6 px-4">

    <!-- Toggle centrado -->
    <div class="mb-2 text-center flex flex-row gap-2 items-center">
        <p class="text-purple-600 font-bold">Ropa</p>
        <input type="checkbox"
               checked="checked"
               class="toggle border-purple-600 bg-purple-400 checked:border-orange-500 checked:bg-orange-400 checked:text-orange-800" />
        <p class="text-orange-500 font-bold">Accesorios</p>
    </div>

    <!-- Contenedor de cards -->
    <div id="card-productos-body"
         class="w-full max-w-screen-xl grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 place-items-center">
        <!-- Las cards se insertarán aquí por JS -->
    </div>
</div>







