@model DoreanSportic.Application.DTOs.PromocionDTO

<form asp-action="Create" asp-antiforgery="true" method="post" enctype="multipart/form-data" 
    class="space-y-4 p-4 bg-base-100 rounded-xl shadow-lg">

    <h2 class="text-left font-bold mb-3">NUEVA PROMOCIÓN</h2>

    <div class="flex flex-row gap-4 w-full">

        <!-- Columna izquierda-->
        <div class="flex flex-col gap-4 w-2/3">
            <!-- Nombre de la promoción -->
            <div class="form-control w-full">
                <label asp-for="Nombre" class="label font-bold text-black">Nombre de la promoción</label>
                <input asp-for="Nombre" class="input input-bordered w-full mb-3 mt-1 required" style="border-color:black" />
                <span asp-validation-for="Nombre" class="text-sm italic text-red-500"></span>
            </div>

            <!-- Descripción de la promoción -->
            <div class="form-control w-full">
                <label asp-for="Descripcion" class="label font-bold text-black">Descripción de la promoción</label>
                <textarea asp-for="Descripcion" class="textarea textarea-bordered w-full mb-3 mt-1" style="border-color:black"></textarea>        <span asp-validation-for="Descripcion" class="text-sm italic text-red-500"></span>
            </div>

            <!-- Tipo de promoción -->
            <div class="form-control w-full">
                <label for="Tipo" class="label font-bold text-black">Tipo de promoción</label>
                <select class="select select-bordered w-full mb-3 mt-1 required" id="tipoPromocion" style="border-color:black">
                    <option value="">Seleccione un tipo</option>
                    <option value="Categoria">Categoría</option>
                    <option value="Producto">Producto</option>
                </select>
            </div>

            <!-- Select de categoría -->
            <div class="form-control w-full">
                <label asp-for="IdCategoria" class="label">
                    <span class="label-text font-bold text-black">Categoría</span>
                </label>
                <select asp-for="IdCategoria" asp-items="ViewBag.ListCategorias" 
                    class="select select-bordered w-full mb-3 mt-1" style="border-color:black">
                    <option value="">Seleccione una categoría</option>
                </select>
                <span asp-validation-for="IdCategoria" class="text-sm italic" style="color:red; font-size: small"></span>
            </div>

            <!-- Descuento -->
            <div class="form-control w-full">
                <label asp-for="PorcentajeDescuento" class="label font-bold text-black">Descuento (%)</label>
                <input asp-for="PorcentajeDescuento" type="number" min="1" max="100" step="0.01" class="input input-bordered w-full mb-3 mt-1 required" style="border-color:black" />
                <span asp-validation-for="PorcentajeDescuento" class="text-sm italic text-red-500"></span>
            </div>

            <!-- Fecha inicio -->
            <div class="form-control w-full">
                <label asp-for="FechaInicio" class="label font-bold text-black">Fecha de inicio</label>
                <input asp-for="FechaInicio" type="date" class="input input-bordered w-full mb-3 mt-1 required" id="fechaInicio" style="border-color:black" />
                <span asp-validation-for="FechaInicio" class="text-sm italic text-red-500"></span>
            </div>

            <!-- Fecha fin -->
            <div class="form-control w-full">
                <label asp-for="FechaFin" class="label font-bold text-black">Fecha de fin</label>
                <input asp-for="FechaFin" type="date" class="input input-bordered w-full mb-3 mt-1 required" id="fechaFin" style="border-color:black" />
                <span asp-validation-for="FechaFin" class="text-sm italic text-red-500"></span>
            </div>

            <!-- Botón -->
            <div class="form-control mt-4">
                <input type="submit" value="Crear promoción" class="btn btn-primary w-full" />
            </div>
        </div>

        <!-- Columna derecha-->
        <div class="flex flex-col gap-4 w-1/3">
            <div id="grupoProducto" class="form-control w-full hidden">
                <label asp-for="IdProducto" class="label font-bold text-black">Producto</label>
                <select asp-for="IdProducto" asp-items="ViewBag.ListProductos" class="select select-bordered w-full">
                    <option value="">Seleccione un producto</option>
                </select>
                <span asp-validation-for="IdProducto" class="text-sm italic text-red-500"></span>
            </div>
        </div>


    </div>
 
</form>

