@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Bienvenido(a)</h1>
    <p>Ofrecemos diferentes productos deportivos a un cómodo precio.</p>
</div> *@

<!--Carrusel-->
<div class="w-auto overflow-hidden">
    <div class="carousel h-[500px] z-0 relative w-screen">
        <div id="slide1" class="carousel-item relative w-screen">
            <video class="w-full h-full object-cover" autoplay muted loop>
                <source src="./Assets/video1.mp4" type="video/mp4" />
                Su navegador no soporta la etiqueta video.
            </video>

@*             <!-- Degradado oscuro vertical -->
            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/70 via-black/30 to-transparent z-10"></div>
 *@
            <!--Texto a mostrar en el slide-->
            <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white text-center z-20 px-4">
                <h1 class="italic" style="font-weight: 800; font-size: 250%; -webkit-text-stroke: 1.5px black; -webkit-text-fill-color: white;">
                    VE MÁS ALLÁ
                        <br />ENTRENA COMO NUNCA
                    </h1>
                <br />
                <a class="bg-[#004AAD] btn text-white" asp-area="" asp-controller="Producto" asp-action="Index">VER PRODUCTOS</a>
            </div>

@*             <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                <a href="#slide4" class="btn btn-circle">❮</a>
                <a href="#slide2" class="btn btn-circle">❯</a>
            </div> *@
        </div>
        <div id="slide2" class="carousel-item relative w-screen">
            <img src="~/Assets/tenis1.jpg"
                 class="w-full h-full object-cover" />

            <!-- Degradado oscuro vertical -->
            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/70 via-black/30 to-transparent z-10"></div>

            <!--Texto a mostrar en el slide-->
            <div class="absolute top-0 left-0 w-full h-full overflow-visible flex flex-col items-center justify-center text-white text-center z-20 px-4">
                <h1 class="italic" style="font-weight: 800; font-size: 250%; -webkit-text-stroke: 1.5px black; -webkit-text-fill-color: white;">
                    TODO COMIENZA CON UN PASO<br />HAZLO TUYO
                </h1>
                <br />
                <a class="bg-[#004AAD] btn text-white" asp-area="" asp-controller="Producto" asp-action="Index">VER PRODUCTOS</a>
            </div>

@*             <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                <a href="#slide1" class="btn btn-circle">❮</a>
                <a href="#slide3" class="btn btn-circle">❯</a>
            </div> *@
        </div>
        <div id="slide3" class="carousel-item relative w-screen">
            <video class="w-full h-full object-cover" autoplay muted loop>
                <source src="./Assets/video2.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>

            <!-- Degradado oscuro vertical -->
            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/70 via-black/30 to-transparent z-10"></div>

            <!--Texto a mostrar en el slide-->
            <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white text-center z-20 px-4">
                <h1 class="italic" style="font-weight: 800; font-size: 250%; -webkit-text-stroke: 1.5px black; -webkit-text-fill-color: white;">
                    DOMINA LA CANCHA<br />CON CADA MOVIMIENTO
                </h1>
                <br />
                <a class="bg-[#004AAD] btn text-white" asp-area="" asp-controller="Producto" asp-action="Index">VER PRODUCTOS</a>
            </div>

@*             <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                <a href="#slide2" class="btn btn-circle">❮</a>
                <a href="#slide4" class="btn btn-circle">❯</a>
            </div> *@
        </div>
        <div id="slide4" class="carousel-item relative w-screen">
            <img src="~/Assets/football.jpg"
                 class="w-full h-full object-cover" />


            <!-- Degradado oscuro vertical -->
            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/70 via-black/30 to-transparent z-10"></div>

            <!--Texto a mostrar en el slide-->
            <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-center z-20 px-4">
                <h1 class="italic" style="font-weight: 800; font-size: 250%; -webkit-text-stroke: 1.5px black; -webkit-text-fill-color: white;">
                    DONDE NACE LA PASIÓN<br />COMIENZA EL JUEGO
                </h1>
                <br />
                <a class="bg-[#004AAD] btn text-white" asp-area="" asp-controller="Producto" asp-action="Index">VER PRODUCTOS</a>
            </div>

@*             <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                <a href="#slide3" class="btn btn-circle">❮</a>
                <a href="#slide1" class="btn btn-circle">❯</a>
            </div> *@
        </div>
    </div>

</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const totalSlides = 4;
            let currentSlide = 1;

            setInterval(() => {
                const nextSlide = currentSlide >= totalSlides ? 1 : currentSlide + 1;
                location.hash = `#slide${nextSlide}`;
                currentSlide = nextSlide;
            }, 5000); // cambia cada 5 segundos (5000ms)
        });
    </script>
}

