/*@import "tailwindcss";*/
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, light;
}

.btn-borrar:hover {
    background-color: #e2e8f0 !important;
    cursor: pointer !important;
}

.drag-over {
    border-color: #60a5fa; /* Tailwind's blue-400 */
    box-shadow: 0 0 0 4px rgba(147, 197, 253, 0.5); /* ring-blue-200 */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.drag:hover {
    cursor: pointer;
}

.drop-zone:hover {
    cursor: pointer;
}

/* Para poder rellenar las estrellas a la hora de crear una reseña del producto*/
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 5px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    cursor: pointer;
    width: 24px;
    height: 24px;
    fill: #d1d5db; /* gris claro */
    transition: fill 0.2s;
}

/* Pintar todas las estrellas anteriores al hover */
.star-rating label:hover,
.star-rating label:hover ~ label {
    fill: #facc15; /* amarillo (hover) */
}

/* Pintar todas las seleccionadas al click */
.star-rating input:checked ~ label {
    fill: #facc15; /* amarillo (seleccionado) */
}

/*@plugin "daisyui" {
    themes: dark --default, dark --prefersdark;
}*/

/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

/*Animación para el acordeón de reseñas de usuario*/
/*.fade-slide {
    animation: fadeSlideDown 0.3s ease-in-out;
}

@keyframes fadeSlideDown {
    from {
        opacity: 0;
        transform: translateY(-0.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}*/
